In [104]:
import pandas as pd
import os
import numpy as np

In [105]:
schools_path = os.path.join("C:/", "Resources", "schools_complete.csv")
schools_df = pd.read_csv(schools_path)
students_path = os.path.join("C:/", "Resources", "students_complete.csv")
students_df = pd.read_csv(students_path)

In [140]:
complete_df = pd.merge(schools_df,students_df,left_on="name", right_on="school")
complete_df

,School ID,name_x,type,size,budget,Student ID,name_y,gender,grade,school,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,Huang High School,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,Huang High School,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,Huang High School,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,Huang High School,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,Huang High School,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,Huang High School,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,Huang High School,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,Huang High School,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,Huang High School,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,Huang High School,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,Huang High School,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,Huang High School,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,Huang High School,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,Huang High School,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,Huang High School,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,Huang High School,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,Huang High School,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,Huang High School,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,Huang High School,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,Huang High School,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,Huang High School,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,Huang High School,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,Thomas High School,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,Thomas High School,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,Thomas High School,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [107]:
complete_dfbytype = complete_df.loc[complete_df["type"] == "District"]

In [108]:
school = complete_dfbytype["school"].nunique()

In [109]:
students = complete_dfbytype["name_y"].count()

In [110]:
budgetbyschool = complete_dfbytype.drop_duplicates(["name_x"], keep ='first')
budget = budgetbyschool["budget"].sum()

In [111]:
av_math_score = complete_dfbytype["math_score"].mean()

In [112]:
av_read_score = complete_dfbytype["reading_score"].mean()

In [113]:
studentmathpass = complete_dfbytype.loc[(complete_dfbytype["math_score"] >= 60)]

In [114]:
passing_number_math = studentmathpass["math_score"].count()

In [115]:
percent_passing_math = passing_number_math/students * 100
pass_num_math = round(percent_passing_math, 2)

In [116]:
studentreadingpass = complete_dfbytype.loc[(complete_dfbytype["reading_score"] >= 60)]

In [117]:
passing_number_reading = studentreadingpass["reading_score"].count()

In [118]:
percent_passing_reading = (passing_number_reading/students * 100)
pass_num_reading = round(percent_passing_reading, 2)

In [119]:
percent_overall_pass = ((pass_num_math + pass_num_reading) / 2)
overall_pass = round(percent_overall_pass,2)

In [120]:
district_df = pd.DataFrame({"Total Schools": [school],"Total Students": [students], "Total Budget": [budget], "Average Math Score": [av_math_score], "Average Reading Score": [av_read_score], "% Passing Math":[pass_num_math], "% Passing Reading":[pass_num_reading], "% Overall Passing Rate": [overall_pass]})

In [121]:
#reorder the dataframe
df = district_df[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]

In [122]:
#DISTRICT SUMMARY OUTPUT
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,7,26976,17347923,76.987026,80.962485,89.03,100.0,94.52

In [123]:
totalstudentsbyschool = complete_df.groupby(["school"])["name_y"].count()

In [124]:
countofstudentspassingmath = complete_df.groupby(["school"])["math_score"].agg(lambda val: (val >= 60).sum())
countofstudentspassingreading = complete_df.groupby(["school"])["reading_score"].agg(lambda val: (val >= 60).sum())

In [125]:
percentpassreadxschool = countofstudentspassingreading / totalstudentsbyschool * 100
percentpassmathxschool = countofstudentspassingmath / totalstudentsbyschool * 100
percentmath = round(percentpassmathxschool, 2)
percentread = round(percentpassreadxschool, 2)

In [126]:
complete_dfbyschool = complete_df.groupby(["school"])

In [127]:
total_budget = complete_dfbyschool["budget"].agg(lambda series: series.mode())

In [128]:
per_student_budget = total_budget / totalstudentsbyschool

In [129]:
agg_math_score = complete_dfbyschool["math_score"].sum()

In [130]:
avg_math_score = agg_math_score / totalstudentsbyschool

In [131]:
agg_reading_score = complete_dfbyschool["reading_score"].sum()

In [132]:
avg_read_score = agg_reading_score / totalstudentsbyschool

In [133]:
school_df = complete_dfbyschool.mean()[['size', 'budget', 'reading_score', 'math_score']]
school_df['Per Student Budget'] = school_df.apply(lambda s: s[1] / s[0] , axis=1)
school_df['School Type'] = complete_dfbyschool['type'].agg(lambda s: s.mode())
school_df['cpr'] = complete_df.groupby(["school"])["reading_score"].agg(lambda val: (val >= 60).sum())
school_df['% Passing Reading'] = school_df.apply(lambda s: (s[6] / s[0])*100 , axis=1)
school_df['cpm'] = complete_df.groupby(["school"])["math_score"].agg(lambda val: (val >= 60).sum())
school_df['% Passing Math'] = school_df.apply(lambda s: (s[8] / s[0])*100 , axis=1)
school_df['Overall Passing Rate'] = school_df.apply(lambda s: (s[7] + s[9])/2 , axis=1)

In [134]:
school_df.columns = ['Total Students', 'Total School Budget', 'Average Reading Score', 'Average Math Score', 'Per Student Budget', 'School Type', 'cpr', '% Passing Reading', 'cpm', '% Passing Math', 'Overall Passing Rate']

In [135]:
#SCHOOL SUMMARY OUTPUT
final_school_df = school_df[["School Type","Total Students","Total School Budget", "Per Student Budget", "Average Math Score","Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]
final_school_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,89.529743,100.0,94.764871
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,100.000000,100.0,100.000000
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,88.436758,100.0,94.218379
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,89.302665,100.0,94.651333
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,100.000000,100.0,100.000000

In [138]:
#TOP 5 PERFORMING SCHOOLS OUTPUT
topfive_df = final_school_df.sort_values("Overall Passing Rate", ascending = False)
topfive_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school,,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,100.0,100.0,100.0
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,100.0,100.0,100.0
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,100.0,100.0,100.0
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,100.0,100.0,100.0
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,100.0,100.0,100.0

In [139]:
#BOTTOM 5 PERFORMING SCHOOLS OUTPUT
topfive_df = final_school_df.sort_values("Overall Passing Rate")
topfive_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school,,,,,,,,,
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,88.436758,100.0,94.218379
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,88.547137,100.0,94.273568
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,88.858416,100.0,94.429208
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,89.083064,100.0,94.541532
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,89.182945,100.0,94.591472